*,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.mainContainer{
    margin-left:30%
}
.header{
text-align: center;
margin-top: 10%;
border:5px solid orange;
width: 50%;
height: 400px;

}
.login-form{
    padding:25px;
   
}
.head{
    font-size: 100px;
    color: rgba(255,102,0);
}
#l1{
    color: rgba(255,102,0);
    font-size: 36px;
}
#l2{
    color: rgba(255,102,0);
    font-size: 36px;

}
input{
    width: 170px;
    height: 30px;

}
.submit{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    color: rgb(255, 102, 0); 
}
.submit:hover{
    background-color: rgb(214, 128, 70);
    color: black;
    cursor: pointer;
    
}


/* Nav bar */

ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;
    background-color: grey;
    padding: 10px;
    flex-basis: 10px;
}
ul li{
    flex:0 0 10%;
}
a{
    color: white;
    text-decoration: none;
}
li:hover,a:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

.talk{
    margin-left: 45%;
    width: 100px;
    height: 38px;
    border-radius: 10px;
    color:  rgb(255, 102, 0); ;
    font-size: 20px;
    background-color: transparent;
}

.talk:hover{
    background-color: rgb(214, 128, 70);
    color: black;
    cursor: pointer;
}

